{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    // para que acepte async/ await
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel"
  ]
}